* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 92, 252);
  color: rgb(214, 224, 255);
}

nav .logo {
  font-family: "poppins";
}

nav ul {
  display: flex;
  width: 40%;
  list-style-type: none;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: rgb(214, 224, 255);
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  padding: 16px 10px;
  transition: 1s;
  box-sizing: border-box;
}

nav ul li a:hover {
  color: #fff;
  background-color: rgb(86, 125, 250);
}

.menu-toggle {
  position: relative;
  display: none;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(214, 224, 255);
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

.hero img {
  height: 350px;
  width: 100%;
  position: relative;
  z-index: -2;
}

.container {
  margin: 0px auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.website {
  text-align: center;
  width: 40%;
  display: flex;
  font-family: sans-serif;
  box-sizing: border-box;
  text-align: center;
}

.container .judul {
  margin-left: 20px;
  font-size: 30px;
  margin-top: 20px;
  font-family: "poppins";
  font-weight: bold;
  color: rgb(53, 96, 235);
}

.container ul {
  margin-top: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.container ul li a {
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  color: rgb(53, 96, 235);
  font-size: 13px;
  padding-left: 15px;
}

.name {
  font-size: 30px;
  font-family: "poppins";
  font-weight: bold;
  color: rgb(53, 96, 235);
  text-align: center;
  margin-top: 40px;
}

.card {
  width: 400px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #eaeaea;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card .header img {
  width: 400px;
  background-size: cover;
  height: 200px;
}

.card .content {
  text-align: center;
  padding: 15px;
}

.card button {
  background-color: rgb(53, 96, 235);
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: #eaeaea;
  margin-top: 10px;
}

.profile {
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sidebar {
  margin-bottom: 20px;
  font-family: "poppins";
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.container .sidebar p {
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 20px;
}

.footer {
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: rgb(53, 96, 235);
}

.footer p {
  font-size: 13px;
  font-family: "poppins";
  line-height: 40px;
  text-align: center;
  color: #eaeaea;
}

/* responsive tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(43, 92, 252);
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }

  nav ul li a {
    padding: 10px 50px;
    border-radius: 1px;
  }
}
